body {
  padding-top: 5rem;
}

header {
  padding: 3rem 1.5rem;
  text-align: center;
}

h1 {
  margin: 1.5em;
}

.index-col {
  text-align: center;
}

.sep {
  width: 20px;
}

.navbar-input-group {
  font-size: 0px; /*removes whitespace between button and input*/
}

.navbar-input-group input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.navbar-input-group .btn {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: 0px;
}