{% extends "base.html" %}

{% block body %}

        <h1>
            Active auctions
            {% if search %} (search : {{ search }}) {% endif %}
        </h1>

        {% if search %} <a href="{% url 'auctionsBrowse' %}" class="btn btn-info">View all auctions</a><br /><br /> {% endif %}

        <div class="row">
        {% for a in auctions %}
            
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <a href="{% url 'auctionView' id=a.id %}"><h5 class="card-title">{{ a.title }}</h5></a>
                        <p class="card-text">{{ a.description }}</p>
                        {#<a class="card-link" href="#">{{ a.id }}</a>-->#}
                        {% if a.seller == user %}
                        <a href="{% url 'auctionEdit' a.id %}" class="btn btn-warning">Edit this auction</a>
                        {% endif %}
                        {% if request.user.is_superuser %}
                        &nbsp;<a href="{% url 'auctionBan' a.id %}" class="btn btn-danger">Ban this auction</a>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% if forloop.counter|divisibleby:3 %}
        </div><br /><div class="row">
            {% endif %}
        {% empty %}
            {% if search %}
            <em>Sorry, no auction matches the search '{{ search }}'... </em>
            {% else %}
            <em>Sorry, there are no auctions yet ! Do you want to <a href="{% url 'auctionCreate' %}">add one</a> ?</em>
            {% endif %}
        {% endfor %}
        </div>
{% endblock %}
