{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block body %}

        <h1>{{ auction.title }}</h1>

        <div class="card bg-light">
            <div class="card-header text-center">{{ auction.title }} (Sold by {{ auction.seller.username }})</div>
            <div class="card-body"><p class="card-text">{{ auction.description }}</p></div>
            <div class="card-footer text-center"><p class="card-text">Current price : {{ auction.price }} {{ symbol|safe }}</p></div>
        </div><br />
        View price in : 
        <span class="btn-group" role="group" aria-label="Currency">
            <a href="?cur=EUR" class="btn btn-secondary">&euro;</a>
            <a href="?cur=USD" class="btn btn-secondary">&dollar;</a>
            <a href="?cur=GBP" class="btn btn-secondary">&pound;</a>
            <a href="?cur=JPY" class="btn btn-secondary">&yen;</a>
            <a href="?cur=RUB" class="btn btn-secondary">&#8381;</a>
        </span><br /><br />

        {% if not auction.banned %}
        
            <p>Time left : {{ auction.getTimeLeft }}</p><br />

            {% if user.is_authenticated %}
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}

            <form class="form-inline" method="POST" action="{% url 'bid' auction.id %}">
                {% csrf_token %}
                {{ form|crispy }} 
                <div class="sep"></div>
                <input type="submit" class="btn btn-primary" value="Bid !" />
            </form><br />
            {% endif %}

            <a href="{% url 'auctionsBrowse' %}">Back to auctions list</a>
        {% else %}
            <em>This auction has been banned. </em>
        {% endif %}
{% endblock %}
